@import "tailwindcss";

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FF006E rgba(255, 255, 255, 0.1);
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #FF006E, #FB5607);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #FB5607;
  }
}